In [1]:
2+2

4

In [4]:
# Markdowns
## Markdowns
### Markdowns

# markdown
## markdown

* * welcome*

* *welcome*

- Heading
     - subtitle1
     -subtitle2

![image](https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg)

* [crt](https://sites.google.com/s/1MnUQdipqbYOimKfe8zQwmFCs-naNdf6h/p/15VLkv02HZD_uZo0f4jSi32JIYuAdhuuI/edit)

In [8]:
print("Hello, Gitam")
print("hi")

Hello, Gitam
hi

In [9]:
print("hello, gitam",end="||| ")
print("Good morning")

hello, gitam||| Good morning

In [13]:
a=10
print(a)
a=b=c=15
a,b,c=1,2,3
print(a,b,c)
type(a)

10
1 2 3

int

In [14]:
a=10.3
print(type(a))
id(a)

<class 'float'>

70710416

In [15]:
name = "abc"
age = "10"
print("my name is",name)
print("my age is",age)

my name is abc
my age is 10

In [ ]:
a=b=20

In [16]:
a

10.3

In [17]:
input("enter a string")

enter a stringpython

'python'

In [18]:
b = input("enter a number")
type(b)

enter a number123

str

In [19]:
c= int(input("enter a number"))
type(c)

enter a number123

int

In [20]:
d = float(input("enter a number"))
type(d)

enter a number123

float

In [21]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c=a+b
print(c)

enter a number1
enter a number2
3

In [24]:
x = 10
print(x)
type(x)

10

int

In [23]:
y =1.2
print(y)
type(y)

1.2

float

In [25]:
z = 2+3j
print(z)
type(z)

(2+3j)

complex

In [26]:
x = float(12)
x

12.0

In [27]:
y = complex(2,1)
y

(2+1j)

In [28]:
c1 = 1+2j
c2 = 2+3j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(3+5j)
(-1-1j)
(-4+7j)

In [29]:
a = True
type(a)

bool

In [30]:
b = False
type(b)

bool

In [31]:
a>b

True

In [32]:
s1 = "abc"
s2 = 'abc'
print(s1)
s2

abc

'abc'

In [33]:
type(s1)
type(s2)

str

In [34]:
i = 100
print(type(i))

<class 'int'>

In [35]:
s1 = str(i)
print(s1)
type(s1)

100

str

In [36]:
f1=float(i)
print(f1)
type(f1)

100.0

float

In [37]:
s="100"
print(type(s))

<class 'str'>

In [38]:
a=int(s)
type(a)

int

In [39]:
f=1.5
type(f)

float

In [40]:
a1=int(f)
type(a1)

int

In [42]:
a='1234'
len(a)

4

In [43]:
n1=10
n2=20
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2)
print(n1%n2)
print(n1//n2)
print(n1**n2)

30
-10
200
0.5
10
0
100000000000000000000

In [44]:
x=2
y=3
print(x>=5 and x<10)
print(x>=5 or x<=10)
print(not(x))

False
True
False

In [45]:
x=2
y=3
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)

False
True
False
True
True
False

In [47]:
str1="abc"
print('a' in str1)
print('a' not in str1)

True
False

In [49]:
a=10
if a>0:
     print("positive")

positive

In [51]:
a=-40
if a>0:
     print("positive")
else:
     print("negative")

negative

In [52]:
a=0
if a>0:
     print("positive")
elif a<0:
     print("negative")
else:
     print("zero")

zero